body {
    font-family: Cambria, Cochin;
    font-size: 25px;
   

}

.Bem-vindo {
    display: block;
    text-align: center;
    background-color: rgba(165, 83, 182, 0.699);
    color: rgb(3, 21, 36);
    width: 80%;
    margin: 50px;
    padding:55px ;
    border: 6px solid rgb(16, 99, 194);
    box-sizing: border-box;

}

.frase{
   
    text-align: center;
    color: rgb(3, 21, 36);
    width: 80%;
    margin: 20px;
    padding:55px ;
   
    box-sizing: border-box
}

.botoes{
    background-color: rgba(165, 83, 182, 0.699);
    color: black;
    width: 80%;
    text-align: center;
    margin: 010px;
    padding: 2px;
    border-top: 5px solid  rgba(148, 35, 170, 0.699);
    border-bottom: 5px solid rgba(148, 35, 170, 0.699);
    border-right: 4px solid rgba(148, 35, 170, 0.699);
    border-left: 4px solid  rgba(148, 35, 170, 0.699);
    box-sizing: border-box;
}

.rodape{
    display: block;
    text-align: center;
    background-color: rgba(165, 83, 182, 0.699);;
    color: rgb(3, 21, 36);
    width: 80%;
    margin: 50px;
    padding:200px ;
    border: 6px solid rgb(16, 99, 194);
    box-sizing: border-box
}

img{
max-width: 80%;
max-height: 80%;

}

.tamanho{
    height: 50px;
    width: 89px;
}