*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#912791da ;
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 1fr ;
}

header{
    background-color: #36BFB1;
    grid-column: 1 / -1;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  
}
header > h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

#pesquisa{
    background-color:#ffffffec;
    border:solid 1px;
    border-radius:15px;
    width:300px;
}

#txtPesquisa{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:300px;
}

.container-video {
    
     
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    height: 40px;
}


.container-video video{
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 2px 2px black;
    height: 170px;
    width: 190px;
    padding: 0 15px;

}


 footer{
 
    flex-shrink: 0;
    position:absolute;
	bottom:0;
	width:100%;
    background-color: #36BFB1;
    font-weight: bolder;
    
}

footer > h5{
    font-size: 28px;
    align-items: center;
    margin-top: 15px;
    margin-left: 50%;
    margin-bottom: 52px;
}